<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852940656116-thkm8a0b91aqu9rhiqpp5j1mp84cqajt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852940656116-thkm8a0b91aqu9rhiqpp5j1mp84cqajt</string>
	<key>API_KEY</key>
	<string>AIzaSyDPHIfAL2HPdgRZWu-SqcFHI88_0OoQ8P4</string>
	<key>GCM_SENDER_ID</key>
	<string>852940656116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-85ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-85ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852940656116:ios:5049356d57428248ff7da1</string>
	<key>DATABASE_URL</key>
	<string>https://chat-85ca9.firebaseio.com</string>
</dict>
</plist>